body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: black;
    color: white;
    margin: 0;
}

/* whole page content */
.container {
}

/* navbar */
.navbar {
    background: white;
    color: black;
    height: 9rem;
    width: 150%;
    overflow: hidden;
    background-color: #ffffff;
}

/* navbar title */
.navbar-title {
    font-family: "Faster One", system-ui;
    font-size: 5rem;
    line-height: 3.3rem;
    letter-spacing: -1.5rem;
}

.navigation {
    position: relative;
    left: 25%;
    padding: 0;
}

.navbar a {
    display: flex;
    align-items: center;
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #868686;
    transition: 0.5s color 1s;
}

/* hero section */
.hero {
    background: transparent;
    color: white;
}

/* motto */
.hero h3 {
    font-family: "Agdasima", sans-serif;
    font-style: oblique;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

/* description */
.hero p {
    font-family: "Agdasima", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* button */
.cta {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0.312);
    border: solid;
    border-width: 0.2rem;
    border-radius: 1rem;
    font-family: "Agdasima", sans-serif;
    font-size: 1.8rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    transition: 1s, color 2s;
}

/* button hover */
.cta:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: all 1s;
}


/* content */
.content h2 {
    font-family: "Agdasima", sans-serif;
    font-style: oblique;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.content {
    font-family: "Agdasima", sans-serif;
    font-size: 2rem;
    background: transparent;
    color: rgb(255, 255, 255);
}
